<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script type="text/javascript" src="vue.js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="box">
        </br>
        <!-- 计算属性 定义像函数 使用像元素 -->
        <!-- 计算属性性能比方法好一点 -->
        <!-- 计算属性会缓存 -->
        <p>计算属性:{{getMyName}}</p>
        <p>普通方法:{{getMyNameMethods()}}</p>
        <!-- @input 只要改变就触发 @change只要离开焦点就触发  -->
        <input type="text" v-model="mytext" />
        <ul>
            <li v-for="data in fuzzySearch">
                {{data}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#box',
            data: {
                myname: "candy",
                mytext: "",
                datalist: ["aaa", "vvv", "protoss", "add", "cee", "candy"],
            },
            //方法
            methods: {
                getMyNameMethods() {
                    return this.myname.substring(0, 1).toUpperCase() + this.myname.substring(1);
                }
            },
            //计算属性
            computed: {
                getMyName() {
                    return this.myname.substring(0, 1).toUpperCase() + this.myname.substring(1);
                },
                fuzzySearch() {
                    return this.datalist.filter(item => item.indexOf(this.mytext) > -1);
                }
            }
        })
    </script>
</body>

</html>