<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>按键修饰符</title>
    <script type="text/javascript" src="vue.js/vue.js"></script>
</head>

<body>
    <div id="box">
        <!-- 判断按钮弹起 up down esc .askii(13 66等) 都支持 -->
        <input type="text" @keyup.enter="handleEnter($event)" />
        <!-- 双向数据绑定 -->
        <input type="text" v-model="mytext" />
        </br>
        {{mytext}}
        </br>
        <input type="checkbox" v-model="isRember" />记录用户名
        {{isRember}}
        <p>你喜欢的运动?
            <input type="checkbox" v-model="checkgroup[0]" />游泳
            <input type="checkbox" v-model="checkgroup[1]" />长跑
            <input type="checkbox" v-model="checkgroup[2]" />滑冰
        </p>
        <p>你最喜欢的开发语言?
            <input type="radio" v-model="devLangue" value="c++" />c++
            <input type="radio" v-model="devLangue" value="php" />php
            <input type="radio" v-model="devLangue" value="java" />java
        </p>
        {{devLangue}}
    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#box",
            data: {
                isShow: false,
                stylearr: [{ background: "blue" }, { background: "red" }],//可以动态添加,删除 
                mytext: "",
                isRember: false,
                checkgroup: [false, true, false],
                devLangue: "",
            },
            methods: {
                handleEnter(ev) {
                    console.log(ev);
                },
            }
        });
    </script>
</body>

</html>